page-home {
}

.slogan{
    background-color:rgb(26, 170, 170);
    color:white;
    padding:100px;
    width:100%;
    border-radius:5px;
    text-align: center;
    font-size: 200%;
}

.checkbox input, .checkbox-icon {
  display: inline-block;
  vertical-align: middle;
}