
.questionTxt{
  background-color: rgb(26, 170, 170);
  color:white;
  text-align: center;
  padding:15px;
  border-radius:10px;
}

.propaganda{
  text-align: center;
  background-color:black;
  color:cyan;
  padding:10px;
  border-radius:10px;
}